:root {
  --main-font: "Montserrat", "Arial", sans-serif;
  --second-font: "Roboto Slab", "Arial", serif;
  --third-font: "droid-serif", "Arial", serif;
}

@font-face {
  font-family: "Wisdom-Script";
  src: url("../fonts/Wisdom Script AJ.eot");
  src: local("☺"), url("../fonts/Wisdom Script AJ.woff") format("woff"),
    url("../fonts/Wisdom Script AJ.ttf") format("truetype"),
    url("../fonts/Wisdom Script AJ.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  min-width: 1600px;
  margin: 0 auto;
}

.conteiner {
  width: 940px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 110px;
}

.logo {
  padding-top: 42px;
}

.logo-link {
  color: rgb(254, 209, 54);
  font-family: "Wisdom-Script";
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 1.3px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-list-item:not(:last-child) {
  margin-right: 40px;
}

.nav-list-item-link {
  color: #222222;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 41px;
  text-transform: uppercase;
}

.nav-list-item-link:hover {
  color: rgb(254, 209, 54);
}

/* SERVICES */
.services {
  padding-bottom: 118px;
}
.services-title,
.contact-title {
  color: #222222;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 16px;
}
.services-text,
.contact-text {
  color: #777777;
  font-family: var(--third-font);
  font-size: 16px;
  text-align: center;
  margin-bottom: 77px;
}

.services-list {
  display: flex;
  justify-content: space-between;
}

.services-list-item {
  width: 286px;
  text-align: center;
}

.services-list-item-title {
  color: rgb(34, 34, 34);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.services-list-item-title-basket::before {
  content: "";
  display: block;
  width: 74px;
  height: 74px;
  background-image: url(../images/icon-basket.png);
  background-repeat: no-repeat;
  border: 3px solid rgb(254, 209, 54);
  border-radius: 50%;
  margin: 0 auto 24px;
  background-position: center;
}

.services-list-item-title-laptop::before {
  content: "";
  display: block;
  width: 74px;
  height: 74px;
  background-image: url(../images/icon-laptop.png);
  background-repeat: no-repeat;
  border: 3px solid rgb(254, 209, 54);
  border-radius: 50%;
  margin: 0 auto 24px;
  background-position: center;
}

.services-list-item-title-lock::before {
  content: "";
  display: block;
  width: 74px;
  height: 74px;
  background-image: url(../images/icon-locked.png);
  background-repeat: no-repeat;
  border: 3px solid rgb(254, 209, 54);
  border-radius: 50%;
  margin: 0 auto 24px;
  background-position: center;
}

.services-list-item-discribe {
  color: #777777;
  font-family: var(--second-font);
  font-size: 14px;
  font-weight: 400;
}

/* CONTACT */
.contact {
  height: 676px;
  background-color: rgb(34, 34, 34);
  background-size: cover;
  padding-top: 106px;
  position: relative;
}

.contact::after {
  content: "";
  background-image: url(../images/map.png);
  width: 636px;
  height: 536px;
  position: absolute;
  bottom: 19px;
  right: 0;
  opacity: 0.8;
}

.contact-title {
  color: rgb(255, 255, 255);
}

.button {
  width: 240px;
  margin: 0 auto;
}
.contact-button {
  width: 240px;
  height: 66px;
  background-color: rgb(254, 209, 54);
  color: #ffffff;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}
