:root {
  --main-font: "Montserrat", "Arial", sans-serif;
  --second-font: "Roboto Slab", "Arial", serif;
  --third-font: "Noto Serif", "Arial", serif;
  --fourth-font: "Qwigley", "Arial", sans-serif;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-slab-v11-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-slab-v11-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 400;
  src: local("Noto Serif Italic"), local("NotoSerif-Italic"),
    url("../fonts/noto-serif-v8-latin-italic.woff2") format("woff2"),
    url("../fonts/noto-serif-v8-latin-italic.woff") format("woff");
}

@font-face {
  font-family: "Qwigley";
  font-style: normal;
  font-weight: 400;
  src: local("Qwigley"), local("Qwigley-Regular"),
    url("../fonts/qwigley-v9-latin-regular.woff2") format("woff2"),
    url("../fonts/qwigley-v9-latin-regular.woff") format("woff");
}

body {
  min-width: 1600px;
  margin: 0 auto;
}

.conteiner {
  width: 940px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 110px;
}

.logo {
  padding-top: 42px;
}

.logo-link {
  color: rgb(254, 209, 54);
  font-family: var(--fourth-font);
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 1.3px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-list-item:not(:last-child) {
  margin-right: 40px;
}

.nav-list-item-link {
  color: rgb(34, 34, 34);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 41px;
  text-transform: uppercase;
}

.nav-list-item-link:hover {
  color: rgb(254, 209, 54);
}

/* SERVICES */
.services {
  padding-bottom: 118px;
}

.services-title,
.contact-title {
  color: rgb(34, 34, 34);
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 16px;
}

.services-text,
.contact-text {
  color: rgb(119, 119, 119);
  font-family: var(--third-font);
  font-size: 16px;
  text-align: center;
  margin-bottom: 77px;
}

.services-list {
  display: flex;
  justify-content: space-between;
}

.services-list-item {
  width: 286px;
  text-align: center;
}

.services-list-item-title {
  color: rgb(34, 34, 34);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.services-list-item-title-basket::before,
.services-list-item-title-laptop::before,
.services-list-item-title-lock::before {
  content: "";
  display: block;
  width: 74px;
  height: 74px;
  background-repeat: no-repeat;
  border: 3px solid rgb(254, 209, 54);
  border-radius: 50%;
  margin: 0 auto 24px;
  background-position: center;
}

.services-list-item-title-basket::before {
  content: "";
  background-image: url(../images/icon-basket.png);
}

.services-list-item-title-laptop::before {
  content: "";
  background-image: url(../images/icon-laptop.png);
}

.services-list-item-title-lock::before {
  content: "";
  background-image: url(../images/icon-locked.png);
}

.services-list-item-discribe {
  color: rgb(119, 119, 119);
  font-family: var(--second-font);
  font-size: 14px;
  font-weight: 400;
}

/* CONTACT */
.contact {
  height: 676px;
  background-color: rgb(34, 34, 34);
  background-size: cover;
  padding-top: 106px;
  position: relative;
}

.contact::after {
  content: "";
  background-image: url(../images/map.png);
  width: 636px;
  height: 536px;
  position: absolute;
  bottom: 19px;
  right: 0;
  opacity: 0.8;
}

.contact-title {
  color: rgb(255, 255, 255);
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.contact-list-item-input {
  width: 455px;
  height: 50px;
  margin-right: 30px;
}

.contact-list-item-input,
.contact-textarea {
  color: rgb(187, 187, 187);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.35px;
  padding-left: 20px;
  border-radius: 5px;
  border: hidden;
}

.contact-list-item-input::placeholder,
.contact-textarea::placeholder {
  text-transform: uppercase;
  color: rgb(187, 187, 187);
}

.contact-list-item-input:required:focus:valid:not(:placeholder-shown),
.contact-textarea:required:focus:valid:not(:placeholder-shown) {
  border: 2px solid rgb(0, 128, 0);
}

.contact-list-item-input:required:focus:invalid:not(:placeholder-shown),
.contact-textarea:required:focus:invalid:not(:placeholder-shown) {
  border: 2px solid rgb(255, 0, 0);
}

.contact-list-item-input:required:focus,
.contact-textarea:focus {
  outline: none;
}

.contact-textarea {
  width: 455px;
  padding-top: 20px;
  resize: none;
}

.contact-button {
  width: 240px;
  height: 66px;
  background-color: rgb(254, 209, 54);
  color: rgb(255, 255, 255);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  margin-top: 30px;
  border-radius: 5px;
}
